<div class="container-fluid">
  <app-navigation></app-navigation>
  <img
    src="/assets/images/bgimage5.jpg"
    alt=""
    class="img-fluid topimg"
    width="100%"
    height="499px"
  />

  <div class="card">
    <h3>Student Project Works ( BRIDGE )</h3>
    <p class="p1">
      It is widely known that there exists a skill/competences gap between
      Industry and Academia. Both are separate worlds, they have different goals
      and mindsets. Without very close interaction between the two, meaningful
      technological advances (productively) are not possible. It is indeed a
      very complex and deep topic and we are not here to identify all the causes
      and address them, but instead proposes one practical approach – “Bridging
      the gap through student project works”.
    </p>
    <p class="p1">
      While this is not completely a new concept, what is new is the concept of
      an intermediate organization/professionals who are passionate about
      bridging this gap and are willing to work towards it with a concrete
      workable plan. What is innovative here is the idea of a
      platform/website/organization that acts as a bridge to connect both the
      worlds.
    </p>
    <p>
      <strong><b>This is how it is envisaged to work:</b> </strong>
    </p>
    <p class="p1" style="text-indent: 6rem">
      Industry identifies the the problem/issue that they are willing to ask
      academia to study/investigate/report. It can be a general topic or a
      specific product related topic, but with a specific question. Academia
      supplies the list of students, their interests along with the details of
      support (tools etc) they will receive in their institution.We will
      collaborate with all stake holders and define/help/deliver executable
      projects with specific objectives.
    </p>
    <div>
      <img src="/assets/images/stdprojectimage.jpg" class="img-fluid" alt="" />
    </div>
    <div style="margin-top: 50px">
      <p class="p2">
        <strong><b>Result:</b></strong>
        <br /><br />
        Academia needs are met as they get exposure to Industry environment and
        their latest products/processes/tools and hence improving the
        skill/competence of students as they finish their degree.
      </p>
      <p class="p3">
        Industry will benefit from access to the latest research and technology
        and obtain direct assistance on your product design and manufacturing
        problems. Additionally Industry’s role of shaping the future education
        will be fulfilled by preparing graduates who understand both the
        technical requirements and the business needs.
      </p>
      <p class="p4">
        If you like this idea, have a suggestion or interested to participate,
        please get in touch.
      </p>
      <p class="p4">
        We currently have a number of mechanical and aerospace engineering (B.E
        and M.E) students willing to take up stress analysis topics for their
        final semester project work. If you are from Industry and have a
        specific topic, please get in touch to discuss.
      </p>
    </div>
  </div>
</div>
