<div class="container-fluid">
  <app-navigation></app-navigation>
  <img
    src="/assets/images/bgimage1.jpg"
    alt=""
    class="img-fluid topimg"
    width="100%"
    height="499px"
  />

  <div class="card">
    <div class="row">
      <div class="col-lg-7">
        <div class="img">
          <img
            src="/assets/images/HomeImage1.jpg"
            class="img-fluid rounded z-depth-3"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-5">
        <p>
          <strong><b> ENGINEER</b></strong> the solutions required for Aircraft
          Structural Repairs and Modifications and other industry problems.
        </p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="row">
      <div class="col-lg-7">
        <div class="img">
          <img
            src="/assets/images/HomeImage2.jpg"
            class="img-fluid rounded z-depth-3"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-5">
        <p>
          <strong> <b>EMPOWER</b></strong> students with industrial knowledge
          via project works.
        </p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="row">
      <div class="col-lg-7">
        <div class="img">
          <img
            src="/assets/images/HomeImage3.jpg"
            class="img-fluid rounded z-depth-3"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-5">
        <p class="buttom">
          <strong><b>INNOVATE</b></strong> in carrying out and presenting the
          analysis of aircraft structural elements and in capturing the
          knowledge of engineering structures analysis in general.
        </p>
      </div>
    </div>
  </div>
</div>
