<div class="container-fluid">
  <app-navigation></app-navigation>
  <img
    src="/assets/images/bgimage6.jpg"
    alt=""
    class="img-fluid topimg"
    width="100%"
    height="499px"
  />

  <div class="card">
    <div class="row">
      <div class="col-lg-5">
        <div class="img">
          <img
            src="/assets/images/toolboximg.jpg"
            class="img-fluid rounded z-depth-3"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-7">
        <h3>ToolBox</h3>
        <ul class="li">
          <li>
            AeroSIFT’s toolbox PRASTANA (Practical Stress Analysis of Aircraft
            Structures) is a new way of analysing and presenting the stress
            analysis of structural elements of an aircraft.
          </li>
          <li>
            This is a collection of tools which are all web based interface to
            analyse various structural elements such as LUGS, JOINTS with in the
            structure pyramid.
          </li>
          <li>
            Web based calculation toolbox that offer an individual to select
            parameters and perform structural analysis for free online using
            open source tools.
          </li>
          <li>
            Full report can be purchased which contains the input, output and
            the calculation method (references) used.
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="row">
      <div class="col-lg-5">
        <div class="img">
          <img
            src="/assets/images/blogimg.jpg"
            class="img-fluid rounded z-depth-3"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-7">
        <h3>Blog</h3>

        <p class="text">
          The following two to start with. And more will be added in the future.
        </p>

        <div style="margin-top: 100px" class="bloglist">
          <ul style="list-style-position: outside">
            <li>
              <a
                href="http://www.aerosift.com/blog/structural-integrity/
"
                >http://www.aerosift.com/blog/structural-integrity/
              </a>
            </li>
            <li>
              <a
                href="http://www.aerosift.com/blog/damage-tolerance-why-what-and-how/
"
                >http://www.aerosift.com/blog/damage-tolerance-why-what-and-how/
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="contact">
    <h4>CONTACTUS</h4>

    <div class="phone">
      <p><i class="fas fa-phone-alt"></i>+44 7412019861</p>
      <p><i class="far fa-envelope"></i>aerosift.uk@gmail.com</p>
    </div>

    <p class="footer">
      AeroSIFT Limited is a company registered in England. Registration Number:
      07348480
    </p>
  </div>
</div>
