<div class="container-fluid">
  <app-navigation></app-navigation>
  <img
    src="/assets/images/bgimage3.jpg"
    alt=""
    class="img-fluid topimg"
    width="100%"
    height="499px"
  />

  <div style="margin: 30px">
    <h3>Trainings for Individuals</h3>
    <p>
      While there is no substitute for on-job training for obtaining the
      knowledge, skills and the competence required to perform any task and
      particularly for Structural Integrity Evaluation, a carefully designed
      training program can help enhance the learning process for individuals and
      hence reduce the overall costs to the organisations and improve
      productivity, especially when there is a recurring need due to various
      reasons.
    </p>
    <p>
      We are passionate about simplifying. The challenge of preparing a training
      program for different audience by simplifying the complex problem of
      Structural Integrity is what inspires us.
    </p>

    <p>We offer the following training programs for individuals:</p>
  </div>
  <div class="card">
    <div class="row">
      <div class="col-lg-6">
        <div class="img">
          <img
            src="/assets/images/trainingIndImage1.jpg"
            class="rounded img-fluid z-depth-3"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-6">
        <p class="para">Basic trainings: 1 Day Courses</p>
        <div class="p1">
          <ul style="list-style-position: outside">
            <li>Stress Awareness</li>
            <li>Introduction to Regulations (CS/FAR 23, 25, 27 or 29)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="row">
      <div class="col-lg-6">
        <div class="img">
          <img
            src="/assets/images/trainingIndImage2.jpg"
            class="img-fluid rounded z-depth-3"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-6">
        <p class="para">Advanced Trainings: 3 Day Courses</p>
        <div class="p2">
          <ul style="list-style-position: outside">
            <li>Static analysis of aircraft structures</li>
            <li>
              Fatigue and Damage tolerance evaluation of Aircraft Structures
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
