<div class="container-fluid">
  <app-navigation></app-navigation>
  <img
    src="/assets/images/bgimage2.jpg"
    alt=""
    class="img-fluid topimg"
    width="100%"
    height="499px"
  />

  <div id="text">
    <h3>Aircraft Stress Analysis</h3>
    <p>
      We undertake projects that require Structural Justification reports for
      Major and Minor Modifications and Repairs of Aircraft Primary and
      Secondary Structures as well as Aircraft Interiors (CS/FAR 23,25,27 and
      29).
    </p>
    <p>We have the expertise and resources to provide</p>
  </div>

  <div class="card">
    <div class="row">
      <div class="col-lg-7">
        <div class="img">
          <img
            src="/assets/images/asaImage1.jpg"
            class="img-fluid rounded z-depth-3"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-5">
        <p class="para">
          Finite Element Analysis (for Internal and Interface Loads derivation
          as well as detail stressing)
        </p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="row">
      <div class="col-lg-7">
        <div class="img">
          <img
            src="/assets/images/asaImage2.jpg"
            class="img-fluid rounded z-depth-3"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-5">
        <p class="para">
          Static analysis to design the modifications and repairs and to comply
          with the required regulations
        </p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="row">
      <div class="col-lg-7">
        <div class="img">
          <img
            src="/assets/images/asaImage3.jpg"
            class="img-fluid rounded z-depth-3"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-5">
        <p class="para">
          Fatigue and Damage Tolerance Analysis to design the modifications and
          repairs and to comply with the required regulations
        </p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="row">
      <div class="col-lg-7">
        <div class="img">
          <img
            src="/assets/images/asaImage4.jpg"
            class="img-fluid rounded z-depth-3"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-5">
        <p class="para">
          Preparation of structural substantiation reports and compliance
          demonstration reports
        </p>
      </div>
    </div>
  </div>
</div>
